
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap');

body{
    background-color: rgb(204, 170, 220);
    text-align: center;
}
header{
    background-color: darkorchid;
    border-radius: 20px;
}

footer{
    background-color: darkorchid;
    border-radius: 20px;
}

nav ul{
    list-style-type: none;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin-left: 70px;
}

.navB:hover{
    background-color: rgb(239, 225, 146);
    color: blueviolet;
    border-radius: 10px;
}

.indexGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: 90%;
    margin: 0 auto;
    background-color: rgb(239, 225, 146);
    padding: 20px;
    border: 5px solid black;
    border-radius: 30px;
    justify-content: stretch;
}

.elemento1{
    background-color: rgb(239, 225, 146);
    text-align: center;
    
}

.a1{
    grid-column: 1/3;
    grid-row: 1/3;
}

.banner{
    
    border-radius: 90px;
}

.a2{
    grid-column: 3/4;
    grid-row: 1/3;
    font-weight: bolder;
    color: blueviolet;
    font-family: 'Poppins', sans-serif;
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: 10px;
    border: 5px solid blueviolet;
    border-radius: 10px;
}

.a3{
    grid-column: 1/4;
    grid-row: 3/4;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;
    color: white;
    border: 5px solid black;
    background-color: blueviolet;
}

.indexFlex{
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(239, 225, 146);
    padding: 20px;
    border: 5px solid black;
    border-radius: 30px;
    justify-content: stretch;
}

.a4{
    border: 5px solid black;
    height: 800px;
    width: 700px;
}

.a5{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    color: white;
    border: 5px solid black;
    font-weight: bolder;
    font-size: 25px;
    background-color: blueviolet;
}

.destacados{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    color: white;
    border: 5px solid black;
    border-radius: 20px;
    background-color: blueviolet;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px 15px 15px 15px;
}

.destacadosGrid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    width: 90%;
    margin: 0 auto;
    background-color: rgb(239, 225, 146);
    padding: 20px;
    border: 5px solid black;
    border-radius: 20px;
    justify-content: stretch;
    grid-auto-rows: auto;
}

.videoImagen{
    background-color: rgb(239, 225, 146);
    text-align: center;
    grid-column: 1/3;
    
}

p{
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    color: white;
    border: 5px solid black;
    border-radius: 20px;
    background-color: blueviolet;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 20px;
    word-spacing: 10px;
    line-height: 30px;
    padding: 15px 15px 15px 15px;
}

.links{
    margin-bottom: 20px;
    font-size: 30px;
    color: blueviolet;
    background-color: rgb(239, 225, 146);
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.d1{
    grid-column: 1/3;
    grid-row: 1/2;
}

.d2{
    grid-column: 1/3;
    grid-row: 3/4;
}

.d3{
    grid-column: 1/3;
    grid-row: 5/6;
}

.d4{
    grid-column: 1/3;
    grid-row: 7/8;
}

.titularCreadores{
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(239, 225, 146);
    border: 5px solid black;
    border-radius: 30px;
}

.creadoresGrid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-auto-rows: auto;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(239, 225, 146);
    padding: 20px;
    border: 5px solid black;
    border-radius: 30px;
    justify-content: center;
}

.estosDos{
    border-radius: 30px;
}

.c1{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 650px;
    height: 650px;
    border: 5px solid black;
    border-radius: 30px;
    margin: 100px 100px 100px 100px;
}

.c2{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 80%;
    margin: 50px 100px 100px 100px;
}

.c3{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 600px;
    height: 700px;
    margin-left: 100px;
    border: 5px solid black;
    border-radius: 30px;
}

.c4{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 50px 100px 150px 100px;
}

.c5{
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 150px 50px 250px 150px;
}

.c6{
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 50px 100px 100px 100px;
    border: 5px solid black;
}

.cabezaHistoria{
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    color: white;
    border: 5px solid black;
    border-radius: 20px;
    background-color: blueviolet;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 30px;
    word-spacing: 10px;
    line-height: 30px;
    padding: 15px 15px 15px 15px;
    text-transform: uppercase;
}

.videoImagen{
    display: flex;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    margin-left: 50px;
    justify-content: space-between;

}

.destacBord{
    border: 5px solid black;
    border-radius: 30px;
}


@media screen and (max-width: 1200px) {
    .imgRespon{
        width: 300px;
        height: auto;
    }
    iframe{
        width: 300px;
        height: auto;
    }
    nav ul{
        display: grid;
        grid-auto-rows: auto;
        font-size: 20px;
        justify-content: center;
        padding-left: 10px;
}
    .a4{
            width: 300px;
            height: auto;
}
    .a1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .a2{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .a3{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    p{
        height: auto;
        width: auto;
    }

    .c1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .c2{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .c3{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .c4{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .c5{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .c6{
        grid-column: 1/2;
        grid-row: 6/7;
    }

}

.active{
    background-color: blueviolet;
    border-radius: 15px;
}
